@model IEnumerable<Mshop.Models.MUser>

@{
    ViewData["Title"] = "AllUser";
      Layout = "_AdminLayout";
}

<h1>All User</h1>

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@ViewBag.ProfilePicture" class="rounded" style="width:100px; " />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            
            <td>
                <a asp-action="EditUser" asp-route-id="@item.Id" class="btn btn-outline-warning" title="Edit User"><i class="fa fa-pen-square" aria-hidden="true"></i></a> |
                <a asp-action="DetailUser" asp-route-id="@item.Id" class="btn   btn-outline-info" title="Detail User"><i class="fa fa-eye" aria-hidden="true"></i></a> |
                <a asp-action="DeleteUser" id="delcat" asp-route-id="@item.Id" class="btn   btn-outline-danger" title="Delete User"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
